{% render 'partials/head.liquid' %}
  <main>
    <section class="opened-window introduction">
      <div class="content">
        <h1>{{ person.name }}</h1>
        <img src="{{ person.avatar }}" class="avatar" alt="Snoopy met een brilletje op z'n neus" width="100">
      </div>
      <div class="browser-buttons">
        <button class="red"></button>
        <button class="orange"></button>
        <button class="green"></button>
      </div>
    </section>

    <section class="opened-window about-me">
      <div class="content">
        <h2>.about-me {</h2>
        <p>
          <span>--github-handle: "{{ person.github_handle }}";</span>
          <span>--favorite-color: "{{ person.custom.favoriteColor }}";</span>
          <span>--location: "{{ person.custom.location }}";</span>
          <span class="h2-block">}</span>
        </p>
      </div>
      <div class="browser-buttons">
        <button class="red"></button>
        <button class="orange"></button>
        <button class="green"></button>
      </div>
    </section>

    <section class="opened-window digital-garden">
      <div class="content">
        <h2>Bekijk mijn <em>Digital Garden</em></h2>
        <div class="collage-digital-garden">
          <a href="https://julia-stevens.github.io/i-love-web/digital-garden/digital-garden-v2/index.html">
            <figure>
              <img src="assets/collage1/castle.png" alt="Schets van een kasteel" width="100">
              <img src="assets/collage1/clouds.png" alt="Schets van een wolk" width="100">
              <img src="assets/collage1/knight.png" alt="Schets van een ridder op een paard" width="100">
              <img src="assets/collage1/moon.png" alt="Van Gogh's maan" width="100">
              <img src="assets/collage1/writings.png" alt="Stuk papier met nette letters" width="100">
            </figure>
          </a>
        </div>
      </div>
      <div class="browser-buttons">
        <button class="red"></button>
        <button class="orange"></button>
        <button class="green"></button>
      </div>
    </section>
  </main>

  <section class="desktop-items">
    <div class="desktop-items-left">
      <section class="desktop-item">
        <h3>Mijn hond</h3>
        <button><img src="assets/desktop-icons/icon-browser.png" alt="Retro icoon browser"></button>
        <article class="opened-window">
          <div class="content">
            <h4>Mijn hond</h4>
            <img src="assets/desktop-hond.jpeg" alt="Afbeelding van een kleine schattige hond" width="100">
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>

      <section class="desktop-item">
        <h3>Semester 1</h3>
        <button><img src="assets/desktop-icons/icon-folder.png" alt="Retro icoon map" width="100"></button>
        <article class="opened-window">
          <div class="content">
            <h4>Semester 1</h4>
            <p>Bekijk <a href="{{ person.website }}">hier</a> mijn werk</p>
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>

      <section class="desktop-item">
        <h3>Currently watching</h3>
        <button><img src="assets/desktop-icons/icon-doc.png" alt="Retro icoon tekst document" width="100"></button>
        <article class="opened-window">
          <div class="content">
            <h4>Yellowjackets</h4>
            <img src="assets/yellowjackets.jpg" alt="Thumbnail serie Yellowjackets" width="100">
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>
    </div>
    
    <div class="desktop-items-right">
      <section class="desktop-item">
        <h3>Currently working on</h3>
        <button><img src="assets/desktop-icons/icon-file.png" alt="Retro icoon document" width="100"></button>
        <article class="opened-window">
          <div class="content">
            <h4>Profile card</h4>
            <p>Bekijk <a href="https://github.com/julia-stevens/connect-your-tribe-profile-card">hier</a> de repository</p>
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>

      <section class="desktop-item">
        <h3>More about me</h3>
        <button><img src="assets/desktop-icons/icon-images.png" alt="Retro icoon afbeeldingen" width="100"></button>
        <article class="opened-window">
          <div class="content">
            <h4>More about me</h4>
            <p>Hoi! Ik ben een frontender in spé. Ik wil van alles leren over HTML, CSS en Javascript en nieuwe technieken blijven leren ontdekken. Bekijk mijn bureaublad om mij iets beter te leren kennen.</p>
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>

      <section class="desktop-item">
        <h3><em>Digital Garden</em></h3>
        <button><img src="assets/desktop-icons/icon-notepad.png" alt="Retro icoon notitieblok" width="100"></button>
        <article class="opened-window">
          <div class="content">
            <h4>Digital garden <em>Tortured Poet</em></h4>
            <a href="https://julia-stevens.github.io/i-love-web/digital-garden/digital-garden-v2/index.html">
              <figure>
                <img src="assets/collage2/curtain.png" alt="Groen gordijn" width="100">
                <img src="assets/collage2/flowerthingy.png" alt="Bloemen rondom dichter als een soort raam" width="100">
                <img src="assets/collage2/poet.png" alt="Schilderij van dichter met papier en pen in hand" width="100">
                <img src="assets/collage2/writings.png" alt="Papier met netjes geschreven tekst" width="100">
              </figure>
            </a>
          </div>
          <div class="browser-buttons">
            <button class="red"></button>
            <button class="orange"></button>
            <button class="green"></button>
          </div>
        </article>
      </section>
    </div>
  </section>

  <script src="scripts/script.js"></script>   

{% render 'partials/foot.liquid' %}